@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oooh+Baby&family=Qwitcher+Grypen:wght@400;700&family=Square+Peg&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.qwitcher-grypen-regular {
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: 400;
  font-style: normal;
}

.qwitcher-grypen-bold {
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: 700;
  font-style: normal;
}

.square-peg-regular {
  font-family: 'Square Peg', cursive;
  font-weight: 400;
  font-style: normal;
}

.oooh-baby-regular {
  font-family: 'Oooh Baby', cursive;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

/* [class^='number-slide'],
[class*=' number-slide'] {
  display: flex;
  justify: center;
  items: center;
  max-height: 100vh;
} */
